/*header*/

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.header-list li a {
    color: white;
    font-weight: 500;
    transition: all .3s;
}
.header-list li a:hover {
    color: orange;
}
.logo svg {
    cursor: pointer;
    fill: white;
    transition: all .3s;
}
.logo svg:hover {

    fill: orange;
}

.login-btn {
    cursor: pointer;
    background: orangered;
    border: none;
    width: 120px;
    height: 40px;

    color: white;
    font-size: 17px;
    font-weight: 700;

    transition: all .3s;
}
.login-btn:hover {
    background: #fd7741;
}

.header-list li a.active {
    color: #fd7741;
}
/*header*/