* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
}

/* common styles */
.wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
}
/* common styles */

/*hero*/
.hero__wrapper {
    text-align: center;
    margin-top: 30%;
}

.pre-title__hero {
    font-weight: 400;
    font-size: 17px;
    color: white;
}
.title__hero {
    color: white;
    font-size: 55px;
}
.btn-discover {
    margin: 40px 0 0 0;
    cursor: pointer;
    background: white;
    border: none;
    width: 160px;
    height: 60px;

    color: orangered;
    font-size: 17px;
    font-weight: 500;

    transition: all .3s;
}
.btn-discover:hover {
    background: #fd7741;
    color: white;
}
/*hero*/

/*elements-section*/
.elements-section {
    padding: 60px 0;
}
.elements__wrapper {
    display: flex;
    justify-content: center;
    gap: 120px;
}
.elements-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    margin: 15px 0 0 0;
}
/*elements-section*/


/*destinations-section*/
.destinations-section {
    background: url("../../../source/images/bg-slider.jpg") center no-repeat;
    background-size: 100%;

    position: relative;
}
.destination-overlay {   /*тень для фона*/
    background-color: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.5;
    z-index: 1;
}
.destinations__wrapper {
    position: relative;
    padding: 60px 0;
    z-index: 2;
}

.destinations-title {
    font-size: 45px;
    font-weight: 500;
    color: white;
}
.destinations-link {
    margin: 0 0 35px 0;
}
.destinations-link a {
    font-family: 'Poppins', sans-serif;
    color: orangered;
    font-size: 17px;
}
.destination-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.dest-outer {
    width: 270px;
    height: 370px;
    overflow: hidden;

    position: relative;
}
.dest-outer img {
    width: 100%;
    height: 100%;
    object-fit: none; /* Изображение не будет изменять свои размеры */
}

.dest-outer::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Положение тени */
    left: 0;       /* Положение тени */
    width: 100%;
    height: 50%; /*высота тени */
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%); /*тень задана с помощью градиента*/

}

.dest-inner {
    position: absolute;
    bottom: 0;

    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 20px 20px;
    align-items: center;
    z-index: 2;
}
.dest-inner h5,
.dest-inner span {
    color: white;
    transition: color .3s;
}
.dest-inner h5 {
    font-size: 20px;
}
.dest-inner__title {
    font-size: 17px;
}
.dest-list__item {
    cursor: pointer;
}
.dest-list__item:hover .dest-inner h5 {
    color: #fd7741;
}
.dest-list__item:hover .dest-inner span {
    color: orangered;
}
/*destinations-section*/


/*popular-tours section*/

.popular-tours__section {
    padding: 60px 0;
}

.title {
    text-align: center;
    font-size: 35px;
    color: #0c3555;
}
.popular-tours__link {
    text-align: center;
    margin: 0 0 50px 0;
}
.popular-tours__link a {
    color: #fd7741;
}
.popular-tours__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.tour {
    cursor: pointer;
    position: relative;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.07);
    /*добавляет тень смещением на 3 пикселя вниз,
     радиусом размытия 7 пикселей и прозрачностью 0.07, к элементу.*/
    transition: all .3s;

    max-width: 390px;
}
.tour:hover {
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
}
.tour img {
    object-fit: cover;
    height: 240px;
    width: 100%;
}
.tour-inner {
    padding: 20px;

    height: 100px;
    background-color: white;
    width: 100%;
}
.tour-inner__title {
    font-size: 20px;
    font-weight: 700;
}
.tour-inner__tags {
    color: grey;
}
.tour-inner__title:hover,
.tour-inner__tags:hover {
    color: #fd7741;
}

/*popular-tours section*/


/*travel-articles section*/

.travel-articles__section {
    padding: 0 0 60px 0;
}
.travel-articles__link {
    text-align: center;
    margin: 0 0 50px 0;
}
.travel-articles__link a {
    font-family: 'Poppins', sans-serif;
    color: orangered;
    font-size: 17px;
}

.blogs {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.post-img {
    border-radius: 5px;
}

.post-title {
    display: block;
    margin: 10px 0 15px 0;
    transition: all .3s;
    cursor: pointer;

    max-width: 320px;
}
.post-title a {
    font-size: 25px;
    color: black;
}
.post-title:hover {
    text-decoration: underline;
}
.tag {
    background-color: #fd7741;
    padding: 5px;

    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
}
/*travel-articles section*/

/*start-new-tour section*/

.start-new-tour__section {
    padding: 60px 0;
}
.start-new-tour__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.start-new-tour__title {
    max-width: 650px;
}
.start-new-tour__btn button {
    cursor: pointer;
    background-color: transparent;
    padding: 20px;
    border: 2px solid #0c3555;
    border-radius: 25px;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #0c3555;
    text-transform: uppercase;

    transition: all .3s;
}
.start-new-tour__btn button:hover {
    background-color: #0c3555;
    color: white;
}
/*start-new-tour section*/